* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0,0,0);
}

body {
    width:100%;
    height:100%;
}

#wrapper {
    width:960px;
    margin: 0 auto 0 auto;
    border:1px solid #777;
}

header.page {
    margin:10px;
    padding:10px;
    border:1px solid #000;
    text-align:center;
    background-color: rgb(150,0,0);
    color: #999999;
}

#wrapper nav li {
    display:inline;
    padding:0;
    margin:0;
    padding-right:20px;
}

article, aside {
    float:left;
    color: #999999;
}

a:link {color:#777;}
a:hover {color:#aaa;}
a:visited {color:#660000;}
a:active {color:#999900;}

article {
    text-align: center;
    width:610px;
    margin:10px;
    background-color: rgb(20,0,10);
}

aside li {
    list-style: disc url('https://drive.google.com/uc?id=0B6Sg_ALpI1HFVDBlVEdsenV3ZHc');
}

footer {
    clear:left;
    border:1px solid #000;
    color: #999999;
}

@media screen and (max-width: 960px) {

#wrapper {
width: 94%;
}
article {
width: 65%;
}
aside {
width: 28%;
}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

article {
width: auto;
float: none;
}
    
aside {
width: auto;
float: none;
}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

header.page {
height: auto;
}
h1 {
font-size: 24px;
}
aside {
display: none;
}

}
